<div class="row mt-2 justify-content-center align-items-center">
    <div *ngIf="!this.isLoading" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody *ngIf="this.teachers.length > 0">
                <tr *ngFor="let teacher of teachers">
                    <td>{{teacher.name}}</td>
                    <td>{{teacher.email}}</td>
                    <td>{{teacher.address}}</td>
                    <td>
                        <i class="mars-0005 fas fa-trash-alt"></i>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="this.teachers.length == 0">
                <td colspan="4" class="alert alert-danger">No Teachers Found</td>
            </tbody>
        </table>
    </div>
    <div *ngIf="this.isLoading" class="spinner-border text-warning my-5 mySpinner" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>