
<div class="row mt-2">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="../assets/img/demo/profile-picture-icon.png" alt="" width="30px">
                    </td>
                    <td><a href="./view-profile-student.html">Lorem ipsum</a></td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>lorem ipsum</td>
                    <td>lorem ipsum</td>
                    <td>
                        <i class="mars-0005 fas fa-info-circle"></i>
                        <a href="./edit-student-profile.html" class="mars-0005">
                            <i class="fas fa-pen-to-square" title="Edit Profile"></i>
                        </a>
                        <i class="mars-0005 fas fa-lock"></i>
                        <i class="mars-0005 fas fa-trash-alt"></i>
                    </td>
                </tr>
                <tr>
                    <td><img src="../assets/img/demo/profile-picture-icon.png" alt="" width="30px">
                    </td>
                    <td><a href="./view-profile-student.html">Lorem ipsum</a></td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>lorem ipsum</td>
                    <td>lorem ipsum</td>
                    <td>
                        <i class="mars-0005 fas fa-info-circle"></i>
                        <a href="./edit-student-profile.html" class="mars-0005">
                            <i class="fas fa-pen-to-square" title="Edit Profile"></i>
                        </a>
                        <i class="mars-0005 fas fa-lock"></i>
                        <i class="mars-0005 fas fa-trash-alt"></i>
                    </td>
                </tr>
                <tr>
                    <td><img src="../assets/img/demo/profile-picture-icon.png" alt="" width="30px">
                    </td>
                    <td><a href="./view-profile-student.html">Lorem ipsum</a></td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>lorem ipsum</td>
                    <td>
                        <i class="mars-0005 fas fa-info-circle"></i>
                        <a href="./edit-student-profile.html" class="mars-0005">
                            <i class="fas fa-pen-to-square" title="Edit Profile"></i>
                        </a>
                        <i class="mars-0005 fas fa-lock"></i>
                        <i class="mars-0005 fas fa-trash-alt"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>