{{form.value | json}}
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="row px-3 py-5 justify-content-center">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Title</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Title" formControlName="title" />
                        <div *ngIf="title?.touched && title?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="title?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Description</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Description"
                            formControlName="description" />
                        <div *ngIf="description?.touched && description?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="description?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Exam Type</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Exam Type"
                            formControlName="examType" />
                        <div *ngIf="examType?.touched && examType?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="examType?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Course</p>
                    <div class="col">
                        <select class="form-control form-select" (change)="this.onCourseChange()" formControlName="course">
                            <option [value]="null">Select Course</option>
                            <option *ngFor="let course of courses" [value]="course.id">{{course.name}}</option>
                        </select>
                        <div *ngIf="course?.touched && course?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="course?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4" *ngIf="course?.value !== null">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Batch</p>
                    <div class="col">
                        <select class="form-control form-select" formControlName="batchId">
                            <option [value]="null">Select Batch</option>
                            <option *ngFor="let batch of batches" [value]="batch.id">{{batch.batchCode}}</option>
                        </select>
                        <div *ngIf="batchId?.touched && batchId?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="batchId?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Subject</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Subject" formControlName="subject" />
                        <div *ngIf="subject?.touched && subject?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="subject?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Total Marks</p>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Total Marks"
                            formControlName="totalMarks">
                        <div *ngIf="totalMarks?.touched && totalMarks?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="totalMarks?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Date</p>
                    <div class="col">
                        <input type="date" class="form-control" placeholder="Date" formControlName="date">
                        <div *ngIf="date?.touched && date?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="date?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Time</p>
                    <div class="col">
                        <input type="time" class="form-control" placeholder="Time" formControlName="time">
                        <div *ngIf="time?.touched && time?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="time?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0"></p>
                    <div class="col">
                        <button *ngIf="!loading" type="submit" class="btn btn-warning" [disabled]="form.invalid"><i
                                class="fas fa-plus-circle me-2"></i> Add</button>
                        <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>