<app-header title="Parents" icon=""></app-header>

<div class="container-fluid mt-n10">
    <div class="row">
        <div class="mb-2 col-md-4 mb-xl-0 col-xl-2">
            <div class="col-12 py-3 bg-white rounded">
                <ul class="list">
                    <a routerLink="manage">
                        <li class="mars-0004" id="manage"><i class="fa-solid fa-list"></i> View all
                            Parents</li>
                    </a>
                    <a routerLink="add">
                        <li class=" mars-0004" id="add"><i class="fa-solid fa-plus-circle"></i> Add Parents</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="col-xl-10 bg-white rounded px-4">
            <router-outlet (activate)="changeOfRoutes()"></router-outlet>
        </div>
    </div>
</div>