{{form.value | json}}
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="row px-3 py-5 justify-content-center">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Name</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Name" formControlName="name" />
                        <div *ngIf="name?.touched && name?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="name?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Email Address</p>
                    <div class="col">
                        <input type="email" class="form-control" placeholder="Email Address" formControlName="email"
                            pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b">
                        <div *ngIf="email?.touched && email?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="email?.errors?.['required']">
                                This Field is required
                            </span>
                            <span class="invalid-feedback  d-block" *ngIf="email?.errors?.['pattern']">
                                Please enter a valid email address.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Address</p>
                    <div class="col">
                        <textarea class="form-control" placeholder="Address" formControlName="address"></textarea>
                        <div *ngIf="address?.touched && address?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="address?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0"></p>
                    <div class="col">
                        <button *ngIf="!loading" type="submit" class="btn btn-warning"
                            [disabled]="form.invalid"><i class="fas fa-plus-circle me-2"></i> Add</button>
                        <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>